---
import Layout from "@layouts/Layout.astro";
import Intro from "@components/Intro.astro";
import PreFooter from "@components/PreFooter.astro";
import Form from "@components/Form.astro";
import Bento from "@components/Bento.astro";
---

<Layout
  title="Teatro Serpiente - Cambiá la piel"
  description="Pagina de prueba para el Teatro Serpiente"
>
  <main>
    <Intro />
    <Bento />
    <Form />
    <PreFooter />
  </main>
</Layout>
