---
import Layout from "@layouts/Layout.astro";
import Intro from "@components/Intro.astro";
import AboutUs from "@components/AboutUs.astro";
import PreFooter from "@components/PreFooter.astro";
import Schedule from "@components/Schedule.astro";
import ContactForm from "@components/ContactForm.astro";
import Bento from "@components/Bento.astro";
import WhatsAppFloatingButton from "@components/WhatsAppFloatingButton.astro";
---

<Layout
  title="Teatro Serpiente - Cambiá la piel"
  description="Pagina de prueba para el Teatro Serpiente"
>
  <main>
    <Intro />
    <AboutUs />
    <Bento />
    <Schedule />
    <ContactForm />
    <PreFooter />
    <WhatsAppFloatingButton />
  </main>
</Layout>
