---
import Logo from "./Logo.astro";
---

<section
  class="flex flex-col text-xl text-left text-pretty my-32 items-center md:mx-32 lg:mx-48"
>
  <header class="flex flex-col">
    <h1
      class="text-4xl font-semibold text-center text-wrap mx-auto mb-2 lg:mb-5 tracking-wide uppercase"
    >
      Teatro Serpiente
    </h1>
    <h2 class="sec-text text-2xl font-semibold text-center">
      ¡Cambiá la piel!
    </h2>
  </header>
  <main class="flex">
    <div class="max-w-[70ch] min-w-[20ch]">
      <Logo class="m-auto" />
    </div>
    <aside class="mr-6 flex items-center">
      <p class="rounded-lg text-2xl p-5 mx-5 bg-black/50">
        Inscribite a nuestro teatro y descubrí <strong class="text-pink_primary"
          >el poder de la transformación.</strong
        > A través de la actuación, la danza y la música, te ayudamos a <strong
          class="text-yellow_primary"
          >liberar tu creatividad y a expresarte de una manera auténtica.</strong
        >
      </p>
    </aside>
  </main>

  <script>
    const text = document.querySelector(".sec-text");

    const typeText = (
      textElement: HTMLElement,
      textToType: string,
      delay: number
    ) => {
      let i = 0;
      const intervalId = setInterval(() => {
        if (i < textToType.length) {
          textElement.textContent += textToType[i];
          i++;
        } else {
          clearInterval(intervalId);
        }
      }, delay);
    };

    let intervalId: number | null = null;

    const Load = () => {
      text!.textContent = "";
      setTimeout(() => {
        text!.textContent = "";
        typeText(text as HTMLElement, "¡Cambiá la piel!", 100);
      }, 0);
      setTimeout(() => {
        text!.textContent = "";
        typeText(text as HTMLElement, "No te comás la peli", 100);
      }, 4000);
      setTimeout(() => {
        text!.textContent = "";
        typeText(
          text as HTMLElement,
          "¡Descubrí el poder de la transformación!",
          100
        );
      }, 7000);
    };

    const start = () => {
      Load();
      intervalId = setInterval(Load, 12000);
    };

    const stop = () => {
      if (intervalId !== null) {
        clearInterval(intervalId);
        intervalId = null;
      }
    };

    document.addEventListener("visibilitychange", () => {
      if (document.hidden) {
        stop();
      } else {
        start();
      }
    });

    start();
    // Load();
    // setInterval(Load, 12000);
  </script>
</section>

<style>
  .sec-text {
    min-height: 2em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }
</style>
