<div id="horarios" class="anchor-div-navbar"></div>
<section class="my-32">
  <h1
    class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide uppercase"
  >
    Horarios
  </h1>
</section>
