<a
  href="https://wa.me/+5493425911295"
  class="whatsapp-float transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    src="https://img.icons8.com/color/48/000000/whatsapp--v1.png"
    alt="WhatsApp"
  />
</a>

<style scoped>
  .whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-float img {
    width: 100%;
    height: auto;
  }
</style>
