---
import Header from "@components/NavBar.astro";
import Footer from "@components/Footer.astro";
import "@fontsource-variable/big-shoulders-text";
import "@fontsource/poiret-one";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="../assets/logo.webp" />
    <meta name="robots" content="nofollow, noindex" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: dark;
        --entry-animation: -20px;
        --cover-animation: 20px;
      }
      html {
        /* font-family: "Poiret One", sans-serif;
        TODO: Change color */
        font-family: "Big Shoulders Text Variable", sans-serif;
        /* background: #fffee7; */
        /* background: url("../assets/test.jpg") repeat;
        background-size: 4%;
        background-attachment: fixed; */

        background: radial-gradient(
            circle at bottom left,
            rgba(239, 229, 42, 0.7) 35%,
            transparent 36%
          ),
          radial-gradient(
            circle at top right,
            rgba(194, 107, 168, 0.7) 35%,
            transparent 36%
          );
        background-size: 3em 3em;
        background-color: rgba(137, 31, 118, 0.7);
        opacity: 1;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
    </style>
  </body>
</html>
